.main {
  display: flex;
  height: 196px;
  position: relative;
  margin-bottom: 20px;

  &_name {
    position: absolute;
    bottom: -30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: 'Chillax';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: $primary;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 32px;
    &_title {
      display: flex;
      gap: 10px;
    }
    &_description {
      max-width: 584px;
    }
    &_email {
      span {
        font-family: 'Chillax';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #45c98f;
      }
    }
  }
}
// .circular_landscape {
//   display: inline-block;
//   position: relative;
//   width: 170px;
//   height: 170px;
//   overflow: hidden;
//   border-radius: 50%;
// }
// .circular_landscape img {
//   width: auto;
//   height: 100%;
//   // margin-left: -50px;
// }

.nftCards {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 15px auto 30px;
  gap: 30px;

  @include media-mobile {
    max-width: 800px;
  }

  @include media-low-mobile {
    flex-direction: column;
    align-items: center;
  }

  &__line {
    width: 100%;
    height: 1px;
    background: #313339;
    margin: 10px 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // min-width: 255px;
    height: 196px;
    // height: 414px;
    // min-height: 414px;
    // margin: 0 10px 20px;
    // border-radius: 20px;
    // border: 1px solid var(--theme-border-color);
    overflow: hidden;
    background-color: transparent;
    position: relative;
    // filter: drop-shadow(0px 4px 16px var(--thame-card-shadow));
    // transition: all 0.3s ease;
    z-index: 1;

    &::marker {
      background: transparent;
      color: transparent;
    }

    // &:hover {
    // border: 1px solid $primary;
    // filter: drop-shadow(0px 2px 14px rgba(172, 40, 245, 0.5));
    // transition: all 0.15s ease;
    // }

    @include media-tablet {
      // width: 218px;
      // min-width: 218px;
      height: auto;
      // height: 344px;
      // min-height: 324px;
    }

    @include media-mobile {
      // width: 165px;
      // min-width: 165px;
      height: auto;
      // height: 276px;
      min-height: 266px;
      margin: 0 8px 16px;
    }

    @include media-low-mobile {
      margin-right: 0;
    }
  }

  &__imageWrapper {
    // width: 170px;
    // height: 170px;
    // background-color: #fff;
    // border-radius: 100%;

    display: inline-block;
    // position: relative;
    width: 170px;
    height: 170px;
    overflow: hidden;
    border-radius: 50%;
    img {
      // display: block;
      // border-radius: 100%;
      // width: 100%;
      // height: 100%;
      // border-radius: 50%;

      // border-top-left-radius: 50% 50%;
      // border-top-right-radius: 50% 50%;
      // border-bottom-right-radius: 50% 50%;
      // border-bottom-left-radius: 50% 50%;

      width: auto;
      height: 100%;
    }
  }

  &__image {
    width: 276px;
    height: 196px;
    background: var(--theme-footer-color);
    border-radius: 8px;
    // border-bottom: 1px solid var(--theme-border-color);
    @include flex-justify-align(center, center);
    cursor: pointer;
    position: relative;

    // img {
    //   display: block;
    //   border-radius: 100%;
    //   width: 170px;
    //   height: 170px;
    // }

    //

    // @include media-tablet {
    //   height: 238px;
    // }

    // @include media-mobile {
    //   height: 179px;
    // }
  }

  &__noImage {
    @include flex-justify-align(center, center);
    background-color: var(--thame-card-no-image-bg);

    svg path {
      fill: var(--thame-card-no-image);
      stroke: var(--thame-card-no-image);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 15px 12px;
    height: auto;
    // height: 122px;
    background: var(--thame-card-bg);

    @include media-tablet {
      padding: 10px;
      height: auto;
      // height: 86px;
    }

    @include media-mobile {
      padding: 8px;
    }
  }

  &__mainInfo {
    margin-bottom: auto;
  }

  &__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.1;
    color: var(--theme-text-primary);
    margin-bottom: 5px;

    & a:hover,
    & a:active,
    & a:focus {
      cursor: pointer;
      color: $gray;
      transition: color 0.3s ease-in-out;
    }

    @include media-tablet {
      font-size: 14px;
    }
  }

  &__collection {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__collectionInner {
    font-size: 12px;
    line-height: 1;
    color: var(--theme-text-gray);
    margin-bottom: 0;
    margin-right: 5px;

    @include media-tablet {
      font-size: 11px;
      margin-right: 4px;
    }
  }

  &__checked {
    width: 16px;
    min-width: 16px;
    height: 16px;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }

    @include media-tablet {
      width: 14px;
      min-width: 14px;
      height: 14px;
    }

    @include media-mobile {
      width: 12px;
      min-width: 12px;
      height: 12px;
      order: -1;
      margin-right: 5px;
    }
  }

  &__tooltip {
    & span {
      display: none;
    }

    & > div > div:last-child {
      min-width: fit-content;
      max-width: 230px;
      border-radius: 10px;
      background-color: var(--theme-body-color);
      font-size: 12px;
      line-height: 1.1;
      color: var(--theme-text-primary);
      padding: 10px;
      border: 1px solid $primary;
    }
  }

  .about {
    list-style-type: none;
    margin-bottom: 15px;
    padding: 10px 0;
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;

    & > li:not(:last-child) {
      margin-bottom: 10px;
    }

    &__row {
      font-size: 12px;
      line-height: 1;
      font-weight: normal;
      color: var(--thame-text-dark-gray);
      margin-bottom: 0;

      & a {
        color: $primary;
        font-weight: 400;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: $primaryHover;
          transition: color 0.3s ease-in-out;
        }
      }

      @include media-tablet {
        font-size: 11px;
      }
    }
  }

  &__price {
    &Wrapper {
      @include flex-align(center);
      flex-direction: row;
      margin-top: 6px;

      span {
        @include flex-align(center);
        font-weight: normal;
        font-size: 12px;
        line-height: 1;
        margin-left: 5px;
        color: var(--theme-text-gray);

        @include media-tablet {
          font-size: 11px;
        }

        & img {
          margin: 0 4px;
        }
      }
    }

    p {
      font-weight: normal;
      font-size: 12px;
      line-height: 1;
      color: var(--theme-text-primary);
      margin-bottom: 0;

      @include media-tablet {
        font-size: 11px;
      }
    }
  }

  &__priceIcon {
    margin-right: 5px;

    img {
      display: block;
    }

    @include media-tablet {
      margin-right: 3px;
    }

    @include media-mobile {
      margin-right: 2px;
    }
  }

  &__claimBtn {
    width: 103px;
    height: 34px;
    min-height: 34px !important;
    position: relative; // important for overtopping default style .btn
    z-index: 100;
    margin-top: 15px;
  }

  &__claimed {
    @include flex-align(center);
    height: 34px;
    margin-top: 11px;

    & > div {
      width: 15px;
      height: 11px;
      margin-right: 4px;

      @include media-mobile {
        width: 12px;
        height: 9px;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    p {
      font-weight: 600;
      font-size: 14px;
      line-height: 1;
      color: $green;
      letter-spacing: 0.003em;
      margin-bottom: 0;

      @include media-mobile {
        font-size: 12px;
      }
    }
  }
}

// Type of cards
.cardBanned {
  img {
    filter: grayscale(80%);
  }

  &__desc {
    @include flex-align(center);
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.003em;
    color: $pink;
    height: 34px;
    margin-bottom: 0;
  }

  .nftCards__name,
  .nftCards__collectionInner {
    color: var(--theme-text-gray);
  }
}

.claimCard {
  height: 500px;
  min-height: 399px;

  @include media-tablet {
    height: 470px;
    min-height: 357px;
  }

  @include media-mobile {
    height: 405px;
    min-height: 305px;
  }

  // .nftCards__info {
  //   height: 245px;

  //   @include media-tablet {
  //     height: 225px;
  //   }

  //   @include media-mobile {
  //     height: 215px;
  //     padding-bottom: 15px;
  //   }
  // }

  .nftCards__image {
    height: 254px;

    @include media-tablet {
      height: 238px;
    }

    @include media-mobile {
      height: 179px;
    }
  }
}
