.search {
  position: relative;
  background: var(--theme-body-color);
  margin-right: 24px;
  max-width: 300px;
  width: 100%;
  height: 42px;

  > button {
    position: absolute;
    left: 18px;
    background: transparent;
    border: 0;
    top: 11px;
    cursor: pointer;
  }

  input {
    border: 1px solid var(--theme-border-color);
    border-radius: 10px;
    background: transparent;
    padding: 11px 15px 11px 48px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.003em;
    width: 100%;
    height: 100%;

    &::placeholder {
      font-weight: normal;
      font-size: 14px;
      line-height: 1;
      color: var(--thame-btn-square);
    }

    &:focus {
      outline: none;
      border-color: $primary;
    }
  }

  i:before {
    color: var(--theme-text-gray);
  }

  @include media-tablet {
    max-width: 269px;
  }

  @include media-mobile {
    max-width: 100%;
    margin-right: 0;
    position: absolute;
    bottom: 16px;
    left: 0;
    height: 36px;

    input {
      padding-top: 7px;
      padding-bottom: 7px;
    }

    & > button {
      top: 8px;
    }
  }
}

// For Collection Account
@include media-mobile {
  .search-collection {
    bottom: -60px;
  }
}
