.count {
  width: fit-content;
  margin-right: 10px;

  p {
    color: var(--theme-text-primary);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 0;
    margin-right: 15px;
  }

  span {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    padding: 5px 11px;
    border: 1px solid var(--theme-border-color);
    border-radius: 10px;
    margin-left: 8px;
  }

  @include media-mobile {
    p {
      font-size: 16px;
    }
  }
}
